/*-- Use For Custom Styling --*/

.custom-style-logo { 
    width: 100px;
    height: auto;
    margin: 20px;
}

.myLogoText { 
    font-size: 20px;
    text-align: center;
    font-weight: bold;

}

.myLogoText .large {
    font-size: 32px;
    font-weight: bold;
     color: #007bff; /* Bootstrap primary color */
}